<ng-container [formGroup]="roleForm" [@fadeInOut]>
  <tr-page-header class="add-role">
    <div page-title>
      <!-- <h5 class="mobile-only">Permissions</h5> -->
      <div class="d-flex align-items-center">
        <h2 *ngIf="!isRoleView && !isEdit">
          {{ ln.TXT_CREATE_NEW_ROLE | translate }}
        </h2>
        <h2 *ngIf="isEdit">{{ ln.TXT_UPDATE_ROLE | translate }}</h2>
        <h2 *ngIf="isRoleView">{{ selectedRoleInfo?.rolename || '' | translate }}</h2>
        <button mat-icon-button (click)="enableEdit()"
          *ngIf="selectedRoleInfo?.isCustom && rightsArray.controls.length">
          <i class="icon-mc mc-create"></i></button>
      </div>
    </div>
    <div page-action class="header-action">
      <button *ngIf="!isRoleView" mat-stroked-button class="default" (click)="resetToDefault()">
        <span class="icon-mc mc-star-2"></span> Set Default
      </button>
    </div>
  </tr-page-header>

  <div class="accordion-container" [@fadeInOut]>
    <div class="input-container" *ngIf="!isRoleView">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>{{ ln.TXT_ROLE_TYPE | translate }}</mat-label>
          <mat-select placeholder="Select any default role" formControlName="roleType">
            <mat-option *ngFor="let role of defaultRoles" [value]="role?.roletypeid">
              {{ role?.name || "" | translate }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="roleType.invalid && roleType?.errors">
            <span *ngIf="roleType?.errors?.required">{{
              ln.TXT_FIELD_REQUIRED | translate
            }}</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>{{ ln.TXT_NEW_ROLE_NAME | translate }}</mat-label>
          <input matInput placeholder="Placeholder" formControlName="roleName" />
          <mat-error *ngIf="roleName.invalid && roleName?.errors">
            <span *ngIf="roleName?.errors?.required">{{
              ln.TXT_FIELD_REQUIRED | translate
            }}</span>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <perfect-scrollbar>
      <ng-container formArrayName="rights">
        <mat-accordion *ngIf="rightsArray.controls.length">
          <ng-container *ngFor="let eachRight of rightsArray.controls; let i = index" [formGroupName]="i">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="accordion-title">
                    <div>
                      {{ eachRight.get("name")?.value || "" | titlecase }}
                    </div>
                    <div class="accordion-indicator">
                      {{ln.TXT_SHOW_ALL | translate}} {{eachRight.get('level2')?.value.length}}
                      {{ (eachRight.get('level2')?.value.length === 1 ? ln.TXT_ACTION : ln.TXT_ACTIONS)  | translate}}
                      <span class="mat-expansion-indicator"></span>
                    </div>
                  </div>
                </mat-panel-title>
                <mat-panel-description>

                  <mat-slide-toggle color="green" formControlName="isOn" (click)="onLvl1Toggle(i)"></mat-slide-toggle>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div class="inner-content" *ngIf="eachRight.get('level2')">
                <ng-container formArrayName="level2">
                  <ng-container *ngFor="
                    let eachLvl2 of getLvl2Array(i)?.controls;
                    let l2 = index
                  " [formGroupName]="l2">
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{ eachLvl2.get("name")?.value | titlecase }}
                          <span class="icon-mc mc-keyboard_arrow_down"></span>
                        </mat-panel-title>
                        <mat-panel-description>
                          <mat-slide-toggle color="green" formControlName="isOn" (click)="onToggleLvl2(i, l2)">
                          </mat-slide-toggle>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <ng-container *ngIf="eachLvl2.get('level3')">
                        <ng-container formArrayName="level3">
                          <div class="role-list bg-light" *ngFor="
                            let eachLvl3 of getLvl3Array(i, l2)?.controls;
                            let l3 = index
                          " [formGroupName]="l3">
                            <div class="role-title">
                              {{ eachLvl3.get("name")?.value | titlecase }}
                            </div>
                            <div class="header-action">
                              <mat-slide-toggle color="green" formControlName="isOn" (click)="toggleAllLvl(i, l2, l3)">
                              </mat-slide-toggle>
                            </div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </mat-expansion-panel>
                  </ng-container>
                </ng-container>
              </div>
            </mat-expansion-panel>
          </ng-container>
        </mat-accordion>
      </ng-container>
    </perfect-scrollbar>
    <div class="action-bottom" *ngIf="!isRoleView && rightsArray.controls.length">
      <button mat-flat-button color="primary" (click)="submitHandler()" [disabled]="isLoading">
        <span>{{ (isEdit ? ln.TXT_UPDATE : ln.TXT_SUBMIT) | translate | titlecase }}</span>
        <mat-spinner *ngIf="isLoading" diameter="20" class="btn-loader"></mat-spinner>
      </button>
    </div>
  </div>
</ng-container>
