@import '~@mucrest/ng-design/assets/styles/0-plugins/plugins-dir';
.page-header {
    @include padding-bottom(1.5rem);
    // flex-direction: column;
    gap: 25px;
    // align-items: flex-start;
}
.accordion-container {
    @include margin-top(1rem);    
    .mat-expansion-panel {
        box-shadow: none;
        border: 1px solid #EBEAED;
        margin-top: -1px;
        border-radius: 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            border-bottom: 1px solid #EBEAED;
        }
        &.mat-expanded {
            box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.03);
        }
        ::ng-deep .mat-content {
            overflow: inherit;
        }
        &-header {
            height: 80px;
            &-title {
            font-size: 18px;
            align-items: center;
            width: 50%;
        }
        &-description {
            width: 50%;
            justify-content: flex-end;
            align-items: center;
            margin-right: 0;
        }
        }
        
        ::ng-deep &-body {
            padding: 0 !important;
            background: #fcfcfc;
        }
    }
    
    .inner-content {
        .mat-expansion-panel {
            border-left: 0;
            border-right: 0;
            box-shadow: none;
            background: #fcfcfc;
            &-header {
                box-shadow: inset 0px 12px 16px rgb(0 0 0 / 3%);
                border-bottom: 1px solid #EBEAED;
                &-title {
                    font-size: 1rem;
                    font-weight: 600;
                }
            }
            .role-list {
                border-bottom: 1px solid #EBEAED;                
            }
        }
    }
.mat-slide-toggle {
    margin-left: auto;
}
::ng-deep .mat-expansion-panel-body {
    .header-action {
        margin-right: 0 !important;
    }
}
}
.header-action {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    gap: 15px;
    .action-item {
        flex-basis: 33.3%;
    }
    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper{
        margin: 0;
        padding: 0;
    }

}
::ng-deep .mat-expansion-indicator {
    display: none;
}
.accordion-indicator {
    display: block;
    font-size: .9rem;
    color: #378DF7;
    margin-top: .4rem;
    line-height: 13px;
    .mat-expansion-indicator {
        position: relative;
        top: -3px;
        display: inline-block;
        margin-left: .4rem;
    }
}
.role-list {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 1px solid #EBEAED;
    &:last-child {
        border: 0;
    }
    .role-title {
        width: 100%;
        margin-right: 16px;
        font-size: 1rem;
    }
    .header-action {
        width: 50%;
        margin-right: 16px;
    }
   
}
.bg-light{
    background: rgb(0 0 0 / 4%);
}

.mat-slide-toggle.mat-disabled {
    opacity: 1 !important;
}
.mc-keyboard_arrow_down {
    font-size: 1.3rem;
}
.drawer-btn {
    display: flex;
    gap: 15px;
    // .mat-flat-button {
    //     position: fixed;
    //     bottom: 1rem;
    //     right: 1rem;
    //     // width: calc(350px - 2rem);
    // }
    
}
.add-role{
    .mat-form-field {
        &[appearance="outline"] {
        &:last-child {
            width: 180px;
            margin-right: 0;
          }
        }
      }
      ::ng-deep .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
        padding: 0 1em;
        top: 40px;
    }
    ::ng-deep mat-select {
        font-weight: 600 !important;
    }
}