<header>
  <div class="page-header">
    <div class="page-title">
      <!-- <button mat-icon-button>
        <span class="mc-back-arrow"></span>
      </button> -->
      <h5 class="mobile-only">Permissions</h5>
      <h2>Add New Role</h2>
      <mat-form-field appearance="outline">
        <mat-select [(value)]="selectedStatus">
            <mat-option *ngFor="let item of status" [value]="item.value">
                {{item.viewValue}}
            </mat-option>
            </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard">
          <mat-label>Type New Role Name</mat-label>
          <input matInput placeholder="Placeholder" value="">
      </mat-form-field>
      <button mat-flat-button color="primary"><span class="icon-mc mc-plus"></span> Add New Role </button>

    </div>

  </div>
</header>
<div class="accordion-container">
    <mat-accordion>
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-slide-toggle color="green" [checked]="true" (click)="onEvent($event)"></mat-slide-toggle>
                <div class="accordion-title">
                    <div>Dashboard Builder</div>
                    <div class="accordion-indicator">
                        Show all 3 actions
                        <span class="mat-expansion-indicator"></span>
                    </div>
                </div>            
            </mat-panel-title>
            <mat-panel-description (click)="onEvent($event)">
                <div class="header-action">
              <div class="action-item">
                <mat-checkbox color="primary">Add</mat-checkbox>
              </div>
              <div class="action-item">
                <mat-checkbox color="primary">View</mat-checkbox>
              </div>
              <div class="action-item">
                <mat-checkbox color="primary">Delete</mat-checkbox>
              </div>
            </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="inner-content">
            <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Manage Dashboard           
                </mat-panel-title>
                <mat-panel-description>
                    <div class="header-action">
                  <div class="action-item">
                    <mat-checkbox color="primary"></mat-checkbox>
                  </div>
                  <div class="action-item">
                    <mat-checkbox color="primary"></mat-checkbox>
                  </div>
                  <div class="action-item">
                    <mat-checkbox color="primary"></mat-checkbox>
                  </div>
                </div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="role-list bg-light">
                <div class="role-title">Dashboard Contents</div>
                <div class="header-action">
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                  </div>
            </div>
            </mat-expansion-panel>
            <div class="role-list">
                <div class="role-title">Add To Dashboard</div>
                <div class="header-action">
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                  </div>
            </div>
            <div class="role-list">
                <div class="role-title">Dashboard Contents</div>
                <div class="header-action">
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                  </div>
            </div>
          </div>
          
        </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-slide-toggle color="green" [checked]="true"></mat-slide-toggle>
                <div class="accordion-title">
                    <div>Dashboard Module</div>
                    <div class="accordion-indicator">
                        Show all 15 actions
                        <span class="mat-expansion-indicator"></span>
                    </div>
                </div>            
            </mat-panel-title>
            <mat-panel-description>
                <div class="header-action">
              <div class="action-item">
                <mat-checkbox color="primary">Add</mat-checkbox>
              </div>
              <div class="action-item">
                <mat-checkbox color="primary">View</mat-checkbox>
              </div>
              <div class="action-item">
                <mat-checkbox color="primary">Delete</mat-checkbox>
              </div>
            </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="inner-content">
            <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Manage Dashboard           
                </mat-panel-title>
                <mat-panel-description>
                    <div class="header-action">
                  <div class="action-item">
                    <mat-checkbox color="primary"></mat-checkbox>
                  </div>
                  <div class="action-item">
                    <mat-checkbox color="primary"></mat-checkbox>
                  </div>
                  <div class="action-item">
                    <mat-checkbox color="primary"></mat-checkbox>
                  </div>
                </div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="role-list bg-light">
                <div class="role-title">Dashboard Contents</div>
                <div class="header-action">
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                  </div>
            </div>
            </mat-expansion-panel>
            <div class="role-list">
                <div class="role-title">Add To Dashboard</div>
                <div class="header-action">
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                  </div>
            </div>
            <div class="role-list">
                <div class="role-title">Dashboard Contents</div>
                <div class="header-action">
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                  </div>
            </div>
          </div>
          
        </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-slide-toggle color="green" [checked]="false"></mat-slide-toggle>
                <div class="accordion-title">
                    <div>Analytics</div>
                    <div class="accordion-indicator">
                        Show all 15 actions
                        <span class="mat-expansion-indicator"></span>
                    </div>
                </div>            
            </mat-panel-title>
            <mat-panel-description>
                <div class="header-action">
              <div class="action-item">
                <mat-checkbox color="primary">Add</mat-checkbox>
              </div>
              <div class="action-item">
                <mat-checkbox color="primary">View</mat-checkbox>
              </div>
              <div class="action-item">
                <mat-checkbox color="primary">Delete</mat-checkbox>
              </div>
            </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="inner-content">
            <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Manage Dashboard           
                </mat-panel-title>
                <mat-panel-description>
                    <div class="header-action">
                  <div class="action-item">
                    <mat-checkbox color="primary"></mat-checkbox>
                  </div>
                  <div class="action-item">
                    <mat-checkbox color="primary"></mat-checkbox>
                  </div>
                  <div class="action-item">
                    <mat-checkbox color="primary"></mat-checkbox>
                  </div>
                </div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="role-list">
                <div class="role-title">Dashboard Contents</div>
                <div class="header-action">
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                  </div>
            </div>
            </mat-expansion-panel>
            <div class="role-list">
                <div class="role-title">Add To Dashboard</div>
                <div class="header-action">
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                  </div>
            </div>
            <div class="role-list">
                <div class="role-title">Dashboard Contents</div>
                <div class="header-action">
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                  </div>
            </div>
          </div>
          
        </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-slide-toggle color="green" [checked]="true"></mat-slide-toggle>
                <div class="accordion-title">
                    <div>Other Operations</div>
                    <div class="accordion-indicator">
                        Show all 15 actions
                        <span class="mat-expansion-indicator"></span>
                    </div>
                </div>            
            </mat-panel-title>
            <mat-panel-description>
                <div class="header-action">
              <div class="action-item">
                <mat-checkbox color="primary">Add</mat-checkbox>
              </div>
              <div class="action-item">
                <mat-checkbox color="primary">View</mat-checkbox>
              </div>
              <div class="action-item">
                <mat-checkbox color="primary">Delete</mat-checkbox>
              </div>
            </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="inner-content">
            <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                    Manage Dashboard           
                </mat-panel-title>
                <mat-panel-description>
                    <div class="header-action">
                  <div class="action-item">
                    <mat-checkbox color="primary"></mat-checkbox>
                  </div>
                  <div class="action-item">
                    <mat-checkbox color="primary"></mat-checkbox>
                  </div>
                  <div class="action-item">
                    <mat-checkbox color="primary"></mat-checkbox>
                  </div>
                </div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="role-list">
                <div class="role-title">Dashboard Contents</div>
                <div class="header-action">
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                  </div>
            </div>
            </mat-expansion-panel>
            <div class="role-list">
                <div class="role-title">Add To Dashboard</div>
                <div class="header-action">
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                  </div>
            </div>
            <div class="role-list">
                <div class="role-title">Dashboard Contents</div>
                <div class="header-action">
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                    <div class="action-item">
                      <mat-checkbox color="primary"></mat-checkbox>
                    </div>
                  </div>
            </div>
          </div>
          
        </mat-expansion-panel>
      
      </mat-accordion>
    </div>