@import "~@mucrest/ng-design/assets/styles/1-base/base-dir";

@import "~@mucrest/ng-design/assets/styles/0-plugins/plugins-dir.scss";


.register{
    h2 {

        @include font-size(2rem);
    
        line-height: 2.5rem;
    
        font-weight: 400;
    
        color: $title;
    
        margin-bottom: 1.5rem;
    
      }
    
      p {
    
        color: $title;
    
        margin-bottom: 1.5rem;
    
        line-height: normal;
    
        @include font-size(0.9rem);
    
        @include media-breakpoint-down(md) {
    
          order: 2;
    
        }
    
      }
    
      .mat-form-field {
    
        width: 100%;
    
        font-size: 0.85rem;
    
        &.mat-form-field-appearance-standard .mat-form-field-underline {
    
          background-color: #ebeaed;
    
        }
    
      }
    
      &-action {
    
        display: flex;
    
        align-items: center;
    
        justify-content: space-between;
    
        @include media-breakpoint-down(md) {
    
          flex-flow: column;
    
        }
    
        .btn-lg {
    
          @include media-breakpoint-down(md) {
    
            width: 100%;
    
          }
    
        }
    
      }
    
      a {
    
        text-decoration: none;
    
      }
}

  



