@import "~@mucrest/ng-design/assets/styles/1-base/base-dir";

@import "~@mucrest/ng-design/assets/styles/0-plugins/plugins-dir.scss";

.register {
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 460px;
  max-width: 786px;
  width: 45vw;
  transition: all 0.5s ease;
  @include media-breakpoint-down(md) {
    padding: 0;
    background-color: transparent;
    width: 100%;
    margin:  0 auto;
  }

  h2 {
    @include font-size($fs-lg);
    line-height: 2.5rem;
    font-weight: 400;
    color: $title;
    margin-bottom: .5rem;
  }

  p {
    color: $title;
    margin-bottom: 1.5rem;
    line-height: normal;
    @include font-size(0.9rem);
    @include media-breakpoint-down(md) {
      order: 2;
    }
  }

  .mat-form-field {
    width: 100%;
    font-size: 0.85rem;
    &.mat-form-field-appearance-standard .mat-form-field-underline {
      background-color: #ebeaed;
    }
    .mat-error {
      font-size: 0.7rem !important;
    }
    .btn-show-hide {
      top: -7px;
    }
  }

  &-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-down(md) {
      flex-flow: column;
    }

    .mat-flat-button, .mat-stroked-button {
      @include media-breakpoint-down(md) {
        width: 100%;
        margin-top: .5rem;
        margin-bottom: 1rem;
      }
    }
  }

  a {
    text-decoration: none;
  }
}
.m-20 {
  margin-right: 20px;
}
.secondary-bg {
  background-color: $theme-secondary;
}