
  <div class="settings-wrap" [@fadeInOut]>
    <div class="nav-search">
      <mat-form-field floatLabel="never">
        <mat-icon matSuffix>search</mat-icon>
        <input matInput placeholder="Search...">
      </mat-form-field>
    </div>
    <div class="settings__element">
      <perfect-scrollbar>
      <mat-accordion>
        <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let parent of parents">
          <mat-expansion-panel-header>
            <mat-panel-title>           
              <span [ngClass]="parent.icon" class="icon"></span>
              <span class="name">{{parent.name}}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list *ngFor='let item of parent.child'>
            <mat-list-item  [routerLink]="item.link" routerLinkActive="active">
              <span class="name">{{item.name}}</span> 
            </mat-list-item>
           </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </perfect-scrollbar>
    </div>
  </div>  

