
.row {
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

.left-panel {
  position: relative;
}
.left-panel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left-panel .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(31, 71, 245, 0.7);
}

.right-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  @media (max-width: 767px) {
    padding: 0 .75rem;
  }
}
