@import '~@mucrest/ng-design/assets/styles/1-base/variable';
@import '~@mucrest/ng-design/assets/styles/0-plugins/plugins-dir';


img{
  height: 120px;
  @include margin(4rem 4rem 1rem);
  @include padding(0 1rem);
  display: flex;
}
p{
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 300;
  @include margin(3rem 0);
}

mc-brief-card{
  .icon{
    padding-top: 0.7rem;
    margin-right: 1rem;

    &::before{
      color: $theme !important;
    }
  }
  .time{
    color: rgb(139, 139, 139);
    font-size: 0.75rem;
    text-align: right;
  }

  .title, .subtitle{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 5px;
  }

  .subtitle{   
    font-size: 0.8rem;
    padding-bottom: 5px;
  }
}

.more-button{
  width: 45%;
  @include margin(0 auto);
  @include padding(0.5rem 0);

  button{
    width: 100%;
    font-size: 1rem;
    color: #2a2af6;
    text-decoration: underline;
  }
}

::ng-deep .message-design-card{
  
  
  .mc-card-body{
    margin-top: 0 !important;
  }
  .mc-card-action{
    margin-top: 0 !important;
  }
  .mc-card-footer{
    margin-top: 0 !important;
  }

  .mc-card__header-details {
    width: 80%;
  }

  .mc-card-title{
    font-size: 0.9rem;
  }
  .mc-card-subtitle{
    margin: 0;
  }
  .mc-card{
    min-height: 0;
    border-color: transparent;
    border-bottom: 1px solid #EBEAED;
    border-radius: 0;
    &:hover{
      background-color: rgba(130, 130, 130, 0.11);
    }
  }
}
