<!-- <section>
    <img src="assets/images/blank_box.svg" alt="Image"  srcset="">
    <p>No new message</p>    
</section> -->

<section>
    <mc-brief-card *ngFor = 'let items of messages' class="message-design-card">
        <div mc-card-logo [ngClass] ="items.icon" class="icon"></div>
        <div mc-card-title class="title"> {{items.title}} </div>
        <div mc-card-subtitle class="subtitle"> {{items.subtitle}} </div>
        <div mc-card-subtitle class="time"> {{date|date: 'shortTime'}} </div>
    </mc-brief-card>
    
    <div class="more-button">
        <button mat-flat-button>See all</button>
    </div>
</section>


