<!-- <mc-brief-card *ngFor = 'let items of messages'>
    <div mc-card-logo [ngClass] ="items.icon"></div>
    <div mc-card-title> {{items.title}} </div>
    <div mc-card-subtitle class="subtitle"> {{items.subtitle}} </div>
    <div mc-card-footer class="time"> {{date|date: 'shortTime'}} </div>
</mc-brief-card> -->
<mc-brief-card *ngFor = 'let items of messages' class="message-design-card">
    <div mc-card-logo [ngClass] ="items.icon" [ngStyle]="{background: 'red'}" class="icon"></div>
    <div mc-card-title class="title"> {{items.title}} </div>
    <div mc-card-subtitle class="subtitle"> {{items.subtitle}} </div>
    <div mc-card-subtitle class="time"> {{date|date: 'shortTime'}} </div>
</mc-brief-card>