@import '~@mucrest/ng-design/assets/styles/0-plugins/plugins-dir';

.page-header {
    display: flex;
    align-items: center;
    @include padding(2.3rem 10px 1.8rem);
    .page-title {
        display: flex;
        align-items: center;
        .mat-icon-button {
            @include font-size(1.3rem);
            @include margin-right(.3rem);
        }
        h2 {
            margin: 0;
            @include font-size($fs-lg);
            font-weight: 400;
        }
    }
  
}
.table-header {
    display: flex;
    align-items: center;
    @include margin-bottom(.5rem);
    padding: 0 10px;
    .table-action {
        margin-left: auto;
        .mat-stroked-button {
            color: #84818A;
            font-weight: 400;
            border: 1px solid #EBEAED;
            @include margin-right(1rem);
            &:last-child {
                margin: 0
            }
            .icon-down-arrow {
                color: #504F54;
                @include font-size(.4rem);
                @include margin-left(.5rem);
            }
            .black {
                color: #504F54;
            }
        }
    }
}
.role {
    font-size: 12px;
    padding: 6px 8px;
    border-radius: 4px;
    @include media-breakpoint-down(md) { 
        width: 100%;
        display: block;
        text-align: center;
        padding: .5rem 8px;
        }
    &.success {
        color: #00A46C;
        background: rgba(20, 177, 59, 0.1);
    }
    &.info {
        color: #5542F6;
        background: rgba(85, 66, 246, 0.1);
    }
    &.rm {
        color: #504F54;
        background: rgba(182, 180, 186, 0.1);
    }
    &.dm {
        color: #FF715A;
        background: rgba(207, 207, 207, 0.09);
    }
    &.bm {
        color: #378DF7;
        background: #E5F6FF;
    }
    &.bl {
        color: #7E6BD3;
        background: rgba(27, 0, 253, 0.01);
    }
    &.vn {
        color: #FB477E;
        background: rgba(250, 105, 157, 0.1);
    }
    &.nh {
        color: #00A46C;
        background: rgba(32, 201, 172, 0.1);
    }
    &.hr {
        color: #09CEE5;
        background: #E5F6FF;
    }
}
.status {
    position: relative;
    &::before {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 3px;
        position: absolute;
        left: -10px;
        top: 5px;
    }
    &.success {
        color: #00A46C;
        &::before {
            background: #00A46C;
        }
    }
    &.warning {
        color: #FFAE1F;
        &::before {
            background: #FFAE1F;
        }
    }
    &.danger {
        color: #FE6730;
        &::before {
            background: #FE6730;
        }
    }
}
.grey-text {
    color: #84818A;
    font-size: 13px;
}
.cloud-only {
    @include media-breakpoint-down(md) { 
        display: none;
     }
}
.mobile-only {
    @include media-breakpoint-up(md) { 
        display: none;
     }
}

.page-action {
    margin-left: auto;
    .mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
        min-height: 42px;
        line-height: 42px;
        padding-left: 24px;
        padding-right: 24px;
        @include font-size(.9rem);
        font-weight: 400;
        .icon-plus {
            @include margin-right(.5rem);
        }
      }
    .mat-stroked-button {
        color: #1F47F5;
        border: 1px solid #EBEAED;
        @include margin-right(1.5rem);
        .icon-down-arrow {
            @include font-size(.4rem);
            @include margin-left(.5rem);
        }
    }
}
.floating-button {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    .mat-fab {
    .mc-more_vert, .mc-plus {
        font-size: 24px;
        transform: rotate(90deg);
        display: block;
        transition: all 0.5s ease;
        &::before {
            color: #fff;
        }
    }
    .mc-plus {
        transform: rotate(45deg);
    }
}
    .more-float-action-btn {
        opacity: 0;
        transition: all 0.5s ease;
        visibility: hidden;
        width: 160px;
        height: 0;
        overflow: hidden;
        position: absolute;
        bottom: 60px;
        right: 0;
        padding: 0.5rem;
        background: #fff;
        &.active {
            opacity: 1;            
            height: auto;
            visibility: visible;
        }
        .mat-button-base {
            width: 100%;
            margin: .2rem;
        }
    }
}
.user-management, .account-role {
    .mat-icon-button {
        font-size: 1rem;
    }
.mat-form-field {
    &[appearance="outline"] {
    @include font-size(.9rem);
    font-weight: 400;
    .mat-form-field-wrapper {
        margin: 0;
        padding: 0;
    }
    .mat-form-field-flex {
        margin: 0;
    }
    .mat-form-field-outline {
        top: 0;
    }
    .mat-form-field-infix {
        padding: .9em 0;
        margin: 0 ;
        border: 0;
    }
    .mat-select-arrow-wrapper {
        transform: translateY(0%);
    }
    &:first-child, &:nth-child(2) {
        width: 130px;
        @include margin-right(.9rem);
    }
    &:last-child {
        width: 210px;
    }
}
}
}
// profile
.profile-container {
    max-width: 990px;
    margin:  0 auto;
    padding-top: 5rem;
    .left-menu {
        .left-header {
            h2 {
                @include font-size(2rem);
                font-weight: 400;
                @include margin-bottom(1rem);
            }
            p {
                color: #84818A;
                @include font-size(.9rem);
            }
        }
        .profile-link {
            @include padding-top(1rem);
            li {
                padding: 0;
                margin: 0 0 .2rem 0;
                a {
                    display: block;
                    text-decoration: none;
                    color: #25364D;
                    @include font-size(.9rem);
                    @include padding(.9rem);
                    display: flex;
                    align-items: center;
                    border-radius: 4px;
                    transition: all 0.5s ease;
                    &.active, &:hover, &:focus {
                        background: #1F47F5;
                        color: #fff;
                        span {
                            &::before {
                                color: #fff;
                            }
                        }
                    }
                    span {
                        &[class^="mc-"], &[class*=" mc-"] {
                            @include font-size(1.2rem);
                            padding-right: .5rem;
                            
                        }
                       
                    }
                }
            }
        }
    }
    .profile-info {
        background: $white;
        border-radius: 4px 4px 0 0;
        @include padding(2rem);
        display: flex;

        .profile-form {
            width: calc(100% - 210px);
            .mat-form-field {
                width: 100%;
            }
        }
        .profile-image {
            width: 183px;
            margin-left: auto;
            .img-container {
                width: 183px;
                height: 183px;
                border-radius: 4px;
                background: rgba($color: $black, $alpha: 0.2);
                margin-bottom: 1rem;
                overflow: hidden;
                overflow: hidden;
                border: 1px solid rgba(255, 255, 255, 0.4);
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .img-action {
                text-align: center;
                .mat-stroked-button, .mat-button {
                    font-weight: 400;
                    margin-bottom: .5rem;
                }
            }
        }
    }
    .profile-action {
        background: $white;
        border-radius: 0 0 4px 4px;
        @include padding(1.2rem 2rem);
        border-top: 1px solid #eee;
        display: flex;
        .mat-button-base {
            font-weight: 400;
        }
        .mat-stroked-button {
            @include margin-right(.9rem);
        }
    }
}

