.role {
    font-size: 12px;
    padding: 6px 8px;
    border-radius: 4px;
    @include media-breakpoint-down(md) { 
        width: 100%;
        display: block;
        text-align: center;
        padding: 3px 8px !important;
        }
    &.success {
        color: #00A46C;
        background: rgba(20, 177, 59, 0.1);
    }
    &.info {
        color: #5542F6;
        background: rgba(85, 66, 246, 0.1);
    }
    &.rm {
        color: #504F54;
        background: rgba(182, 180, 186, 0.1);
    }
    &.dm {
        color: #FF715A;
        background: rgba(207, 207, 207, 0.09);
    }
    &.bm {
        color: #378DF7;
        background: #E5F6FF;
    }
    &.bl {
        color: #7E6BD3;
        background: rgba(27, 0, 253, 0.01);
    }
    &.vn {
        color: #FB477E;
        background: rgba(250, 105, 157, 0.1);
    }
    &.nh {
        color: #00A46C;
        background: rgba(32, 201, 172, 0.1);
    }
    &.hr {
        color: #09CEE5;
        background: #E5F6FF;
    }
}
.status {
    position: relative;
    &::before {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 3px;
        position: absolute;
        left: -10px;
        top: 5px;
    }
    &.success {
        color: #00A46C;
        &::before {
            background: #00A46C;
        }
    }
    &.warning {
        color: #FFAE1F;
        &::before {
            background: #FFAE1F;
        }
    }
    &.danger {
        color: #FE6730;
        &::before {
            background: #FE6730;
        }
    }
}
.grey-text {
    color: #84818A;
    font-size: 13px;
}
.cloud-only {
    @include media-breakpoint-down(md) { 
        display: none;
     }
}
.mobile-only {
    @include media-breakpoint-up(md) { 
        display: none;
     }
}