<div class="account-security">
        <fieldset class="fieldset">
            <legend>Change Password</legend>
            <div>
                <mat-form-field appearance="standard">
                    <mat-label>Old Password</mat-label>
                    <input matInput placeholder="" type="password">
                  </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="standard">
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="" type="password">
                  </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="standard">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="" type="password">
                  </mat-form-field>
            </div>
            <div class="profile-action">
                <button mat-stroked-button>Reset</button>
                <button mat-flat-button color="primary">Save Changes</button>
            </div>
        </fieldset>
    </div>
       