<div class="f-password">
    <div>
        <div class="d-flex m-bottom"><span class="icon-mc mc-keyboard_arrow_left fnt"></span><span class="align-self-center">Back To Login</span></div>
        <h2 class="text-dark">Recover Your Account</h2>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="pat@example.com">
            <!-- <mat-icon class="text-muted h5" matSuffix>person</mat-icon> -->
        </mat-form-field>
        <div class="d-flex justify-content-between register-action">
            <span class="align-self-center">Dont have an account ? <a href="#">Sign Up</a></span>
            <button mat-flat-button color="primary">Get Recovery Link</button>
        </div>
    </form>
  </div>
  