<div class="f-password" [@fadeInOut]>
    <div>
        <div class="d-flex m-bottom cursor" [routerLink]="routerConfig.LOGIN">
            <span class="icon-mc mc-keyboard_arrow_left fnt"></span>
            <span class="align-self-center">Back To Login</span>
        </div>
        <h2 class="text-dark">Recover Your Account</h2>
        <p class="text-muted">Enter your email id</p>
    </div>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]='emailFormControl'>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email Id is required
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Email Id is not valid
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('customError')">
                {{resMessage}}
            </mat-error>
        </mat-form-field>
        <div class="d-flex flex-md-row flex-column justify-content-between register-action">
            <span class="align-self-center order-md-0 order-1 mt-md-0 mt-4">Dont have an account ? <a href="#">Sign Up</a></span>
            <button mat-flat-button color="primary" (click)="fpassword()" [disabled] ='isLoading'>
               <span>Get Recovery Link</span>
               <mat-spinner *ngIf='isLoading' diameter='20' class="btn-loader"></mat-spinner>
            </button>
        </div>
    </form>
</div>
