<div class="profile-container">
  <div class="row">
    <div class="col-md-4">
      <div class="left-menu">
        <div class="left-header">
          <h2>Manage Profile</h2>
          <p>Update and manage your account</p>
        </div>
        <ul class="profile-link">
          <li>
            <a href="#" class="active"
              ><span class="icon-mc mc-person_pin"></span>
              <span>Organisation Profile</span></a
            >
          </li>
          <li>
            <a href="#"
              ><span class="icon-mc mc-settings_applications"></span>
              <span>Personal Profile</span></a
            >
          </li>
          <!-- <li><a href="#"><span class="mc-notifications"></span> <span>Notifications</span></a></li>
                    <li><a href="#"><span class="mc-ic_plan"></span> <span>Plans</span></a></li>
                    <li><a href="#"><span class="mc-help"></span> <span>Helpdesk</span></a></li> -->
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div class="profile-info">
        <div class="profile-form">
          <div>
            <mat-form-field appearance="standard">
              <mat-label>Full Name</mat-label>
              <input
                matInput
                placeholder="Placeholder"
                value="Maxbert Scolaski"
              />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="standard">
              <mat-label>Phone No</mat-label>
              <input matInput placeholder="" />
            </mat-form-field>
          </div>
        </div>
        <div class="profile-image">
          <div class="img-container">
            <img src="{{ url ? url : './assets/img/profile.png' }}" alt="" />
          </div>
          <div class="img-action">
            <input
              #fileInput
              type="file"
              (change)="onSelectFile($event)"
              style="display: none"
            />
            <button
              mat-stroked-button
              color="primary"
              (click)="fileInput.click()"
            >
              Upload new picture
            </button>
            <button mat-button *ngIf="url" (click)="delete()">
              Remove picture
            </button>
          </div>
        </div>
      </div>
      <div class="profile-action">
        <button mat-stroked-button>Cancel</button>
        <button mat-flat-button color="primary">Save Changes</button>
      </div>
    </div>
  </div>
</div>
