// ::ng-deep .header{
//     background-color: #fff0 !important;
//     border-bottom: none !important;
//     // height: 5.5rem;
//     &__mc-action{
//         width: 100%;
//     }
//     &__mc-action-child {
//         justify-content: flex-start;
//     }
// }

.logo {
    margin: 0 auto;
    svg{
    width: 14rem;
    height: 45px;
    }
}