@import '~@mucrest/ng-design/assets/styles/1-base/variable';
@import '~@mucrest/ng-design/assets/styles/0-plugins/plugins-dir';

div{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  span{
    font-size: 12px;
    padding: 0 5px;
    box-shadow: 1px 0px #d6d6d6;
    line-height: 2;
  }  

  input{
    border: 0;
    background: transparent;
    width: 23vw;
    line-height: 2.8;
    padding: 0 10px;
    outline: none;
  }
}

@media screen and (max-width: 765px) {
  div{
    span{
      font-size: 17px;
      font-weight: 400;
    }

    input {
      width: 100%;
      line-height: 3;
      padding: 0 15px  ;
      font-size: 17px;
    }
  }
}