@import '~@mucrest/ng-design/assets/styles/1-base/variable';
@import '~@mucrest/ng-design/assets/styles/0-plugins/plugins-dir';

div{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  position: fixed;
  top: 4px;
  right: 230px;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 5px;

  span{
    font-size: 12px;
    padding: 0 5px;
    box-shadow: 1px 0px #d6d6d6;
    line-height: 2;
  }  

  input{
    border: 0;
    background: transparent;
    width: 23vw;
    line-height: 2.8;
    padding: 0 10px;
    outline: none;
  }
}

@media screen and (max-width: 765px) {
  div{
    border-radius: 0 0 5px 5px;
    width: 90%;
    box-shadow: 0px 0.6px 2px 0px grey;
    margin: 46px auto 0;
    position: absolute;
    top: 1px;
    right: 5vmax;
    z-index: 1;
    span{
      font-size: 17px;
      font-weight: 400;
    }

    input {
      width: 100%;
      line-height: 3;
      padding: 0 15px  ;
      font-size: 17px;
    }
  }
}

        