@import '~@mucrest/ng-design/assets/styles/1-base/variable';
@import '~@mucrest/ng-design/assets/styles/0-plugins/plugins-dir';

.search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  width: 360px;
  padding: 0.5rem;
  position: fixed;
  left: 70px;
  top: 7px;
 
 input {
   font-size: 1rem;
   padding-left: 0.5rem;
 }

 ::ng-deep {
   .mat-form-field-wrapper, .mat-form-field-infix, .mat-form-field-flex  {
   padding: 0;
   background-color: transparent;
   border: 0;
   align-items: center;
 }
 .mat-form-field-underline, .mat-select-arrow-wrapper {
   display: none;
 }
 .mat-select-value {
   max-width: fit-content;
 }
}
.icon-mcf {
  font-size: 1.4rem;
  display: block;
  padding-right: 8px;
} 
.matprefix {
  display: flex;
  align-items: center;
}
}

@media screen and (max-width: 765px) {
  .search-container {
    border-radius: 0 0 5px 5px;
    width: 90%;
    box-shadow: 0px 0.6px 2px 0px grey;
    margin: 46px auto 0;
    padding: 1rem;
    position: absolute;
    top: 12px;
    right: 5vmax;
    z-index: 1;
    span{
      font-size: 17px;
      font-weight: 400;
    }

    input {
      width: 100%;
      padding: 0 15px;
      font-size: 17px;
    }
  }
}

        