@import '~@mucrest/ng-design/assets/styles/1-base/variable';
@import '~@mucrest/ng-design/assets/styles/0-plugins/plugins-dir';

mc-side-navbar {
.icon-mc,.icon-mcf {
    &::before {
      color: black;
    }
  }    
}
.border-bottom {
    padding: 1rem 0;
    border-bottom: 1px solid #E3E1E5;
    margin-bottom: 2rem;
    a {
        span {
            &::before {
                color: black;
            }
        }
    }
}
    a {
        display: block;
        text-decoration: none;
        font-size: 1.3rem;
        color: black;
        padding: .7rem 0;
        &.active {
            background: #1F47F5;
            border-radius: 4px;
            span {
                &::before {
                    color: white;
                }
            }
        }    
    }
.user-dropdown {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    height: 30px;
    @include media-breakpoint-down(md) { 
        display: none;
     }
    .user-avatar {
        background: #1F47F5;
        color: white;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        line-height: 30px;
        text-align: center;
        font-size: .8rem;
    }
    .user-name {
        color: #25364D;
        font-size: 0.9rem;
        font-weight: 600;
        padding-left: .5rem;
        &::after {
            font-family: 'mucrest' !important;
            content: "\eacf";
            color: #84818a;
          }
    }
}
::ng-deep .profile-dropdown+* .cdk-overlay-pane {
    font-size: .8rem;
    font-weight: 500;
    .mat-menu-panel {
        box-shadow: 0px 32px 72px rgba(50, 50, 93, 0.12), 0px 10px 15px rgba(0, 0, 0, 0.07), 0px -4px 16px rgba(0, 0, 0, 0.03);
    }
    button.mat-menu-item {
        display: flex;
        align-items: center;
        border-bottom: #EBEAED 1px solid;
        i {
            font-size: 1.3rem;
            padding-right: .8rem;
        }
        &:last-child {
            border-bottom: 0;
        }
    }
}

.header-icon{
    font-size: 1.5rem;
    padding: 0.2rem 0;
}

.notify-design{
    @include margin(0 10px);
}

::ng-deep .mat-menu-panel {
    max-height: calc(100vh - 230px) !important;
}

.mat-badge-medium .mat-badge-content {
    width: 14px;
    height: 14px;
    line-height: 15px;
    font-size: 10px;
}

.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
    right: -3px;
}

.mat-badge-medium.mat-badge-above .mat-badge-content {
    top: -3px;
}

.action-icon, .active-icon{
    padding: 0 5px;
  
    &:hover{
        background-color: ($black08);
        border-radius: 50%;
    }    
  }
  
  .menu-active{
    background-color: ($black08);
    border-radius: 50%;
  }
  
  .search{
    position: relative;
    &:hover{ cursor: pointer; }
  
    span{
        position: relative;
        z-index: 1;
    }
  }
  
  .searchPanel {
    position: absolute;
    top: -3px;
    left: -395px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 5px;
  }
  .m-searchPanel{display: none;}
  
  @media screen and (max-width: 765px) {
  
    .searchPanel { display: none; }
    .m-searchPanel{
        border-radius: 0 0 5px 5px;
        display: block;
        width: 90%;
        box-shadow: 0px 0.6px 2px 0px grey;
        margin: 46px auto 0;
    }
}

.hamburger {
    position: fixed;
    top: 0;
    left: .5rem;
    z-index: 999;
    font-size: 1.5rem;
}
.mat-drawer-content {
    background-color: #fff;
}
.mat-drawer-container {
    background-color: transparent;
    width: 100%;
    height: 100%;
    &-has-open {
    background: transparent;
    z-index: 9999;
    .mat-drawer {
        max-width: 90%;
    }
    }
}
