<mat-drawer-container>
  <mat-drawer #drawer mode="over" [autoFocus]="false">
    <tr-m-header>
      <img class="circle" src="assets/img/profile.png" image>
      <span name></span>
      <span email></span>
      <span account-lists>
        <a *ngFor="let account of accountList">
          <span class="icon-mc mc-folder"></span> <span> {{ account.name }} </span></a>
      </span>
    </tr-m-header>
  </mat-drawer>
  <tr-d-header>
    <span class="icon-mc mc-menu header-icon" m-brand (click)="drawer.toggle()"></span>
    <span class="search header-icon">
      <span class="icon-mcf mcf-search" (click)="toggleSearch()"></span>
      <tr-search *ngIf="searchToggle" class="searchPanel"></tr-search>
    </span>
    <span class="action-icon" [ngClass]="{'menu-active':colorActivation}">
      <a routerLink="./" [matMenuTriggerFor]="notify" class="header-icon" (menuClosed)="colorActivation=false"
        (menuOpened)="colorActivation=true">
        <span class="icon-mc mc-notifications" matBadge="3" matBadgePosition="after" matBadgeColor="accent"></span>
      </a>
    </span>
    <span class="active-icon" [ngClass]="{'menu-active':msgColorActivation}">
      <a routerLink="./" [matMenuTriggerFor]="message" class="header-icon" (menuClosed)="msgColorActivation=false"
        (menuOpened)="msgColorActivation=true">
        <span class="icon-mcf mcf-outgoing_mail"></span>
      </a>
    </span>
    <a [matMenuTriggerFor]="menu" class="user-dropdown"><span class="user-avatar">MB</span><span
        class="user-name">Maxbert</span></a>
    <mat-menu #menu="matMenu" backdropClass="profile-dropdown">
      <button mat-menu-item><i class="icon-mc mc-person"></i> <span>Profile Settings</span></button>
      <button mat-menu-item><i class="icon-mc mc-switch_account"></i> <span>Accounts</span></button>
      <button mat-menu-item (click)="logout()"><i class="icon-mc mc-power_settings_new"></i> <span>Sign Out</span></button>
    </mat-menu>

    <mat-menu #notify="matMenu" backdropClass="profile-dropdown">
      <button mat-menu-item>
        <i class="icon-mc mc-person"></i>
        <span class="notify-design">Twitter Notification</span>
        <span>{{date|date : 'shortTime'}}</span>
      </button>
      <button mat-menu-item>
        <i class="icon-mc mc-person"></i>
        <span class="notify-design">Twitter Notification</span>
        <span>{{date|date : 'shortTime'}}</span>
      </button>
      <button mat-menu-item>
        <i class="icon-mc mc-person"></i>
        <span class="notify-design">Twitter Notification</span>
        <span>{{date|date : 'shortTime'}}</span>
      </button>
      <button mat-menu-item>
        <i class="icon-mc mc-person"></i>
        <span class="notify-design">Twitter Notification</span>
        <span>{{date|date : 'shortTime'}}</span>
      </button>
      <button mat-menu-item>
        <i class="icon-mc mc-person"></i>
        <span class="notify-design">Twitter Notification</span>
        <span>{{date|date : 'shortTime'}}</span>
      </button>
      <button mat-menu-item>
        <i class="icon-mc mc-person"></i>
        <span class="notify-design">Twitter Notification</span>
        <span>{{date|date : 'shortTime'}}</span>
      </button>
      <button mat-menu-item>
        <i class="icon-mc mc-person"></i>
        <span class="notify-design">Twitter Notification</span>
        <span>{{date|date : 'shortTime'}}</span>
      </button>
    </mat-menu>

    <mat-menu #message="matMenu" backdropClass="profile-dropdown">
      <button mat-menu-item>
        <i class="icon-mc mc-person"></i>
        <span class="notify-design">Message Notification</span>
        <span>{{date|date : 'shortTime'}}</span>
      </button>
      <button mat-menu-item>
        <i class="icon-mc mc-person"></i>
        <span class="notify-design">Message Notification</span>
        <span>{{date|date : 'shortTime'}}</span>
      </button>
      <button mat-menu-item>
        <i class="icon-mc mc-person"></i>
        <span class="notify-design">Message Notification</span>
        <span>{{date|date : 'shortTime'}}</span>
      </button>
      <button mat-menu-item>
        <i class="icon-mc mc-person"></i>
        <span class="notify-design">Message Notification</span>
        <span>{{date|date : 'shortTime'}}</span>
      </button>
      <button mat-menu-item>
        <i class="icon-mc mc-person"></i>
        <span class="notify-design">Message Notification</span>
        <span>{{date|date : 'shortTime'}}</span>
      </button>
      <button mat-menu-item>
        <i class="icon-mc mc-person"></i>
        <span class="notify-design">Message Notification</span>
        <span>{{date|date : 'shortTime'}}</span>
      </button>
      <button mat-menu-item>
        <i class="icon-mc mc-person"></i>
        <span class="notify-design">Message Notification</span>
        <span>{{date|date : 'shortTime'}}</span>
      </button>
    </mat-menu>

  </tr-d-header>
  <mc-side-navbar>
    <div class="logo" top>
      <a routerLink="./">
        <svg width="50" height="30" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="11.1962" cy="6.464" r="6" transform="rotate(-60 11.1962 6.464)" fill="#032AD0" />
          <circle cx="6.19615" cy="13.7846" r="6" transform="rotate(-60 6.19615 13.7846)" fill="#FF715A" />
        </svg>
      </a>
    </div>
    <div top class="border-bottom side-nav-hvr">
      <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><span
          class="icon-mc mc-home"></span></a>
      <a routerLink="./"><span class="icon-mcf mcf-work_outline"></span></a>
      <a routerLink="./"><span class="icon-mc mc-group"></span></a>
    </div>
    <div top class="side-nav-hvr">
      <a routerLink="./"><span class="icon-mc mc-pie_chart_outlined"></span></a>
      <a routerLink="/dashboard/settings" routerLinkActive="active"><span class="icon-mc mc-sliders"></span></a>
    </div>
  </mc-side-navbar>
  <tr-search *ngIf="searchToggle" class="m-searchPanel"></tr-search>
  <router-outlet></router-outlet>

  <!-- <button type="button" mat-icon-button class="hamburger" (click)="drawer.toggle()">
    <span class="icon-mc mc-menu"></span>
  </button> -->
</mat-drawer-container>
