<div class="add-user">
  <div class="border-0">
    <div class="d-flex justify-content-between">
      <h2 class="text-dark">
        Add User
      </h2>
      <button mat-icon-button mat-dialog-close>
        <i class="icon-mc mc-x"></i>
      </button>
    </div>
    <form [formGroup]="addUserForm">
      <div class="row mt-4">
        <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="">
              <!--<mat-icon class="text-muted h5" matSuffix>person</mat-icon>-->
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Middle Name</mat-label>
              <input matInput placeholder="">
              <!--<mat-icon class="text-muted h5" matSuffix>person</mat-icon>-->
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="">
              <!--<mat-icon class="text-muted h5" matSuffix>person</mat-icon>-->
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>User Name</mat-label>
              <input matInput placeholder="">
              <!--<mat-icon class="text-muted h5" matSuffix>person</mat-icon>-->
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input type="email" matInput placeholder="">
              <!--<mat-icon class="text-muted h5" matSuffix>email</mat-icon>-->
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>User Role</mat-label>
              <input type="text" matInput [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Designation</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Buisness Vertical</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Practice</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Location</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Reporting Manager</mat-label>
              <mat-select>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{food.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
      </div>
    </form>
    <div class="d-flex justify-content-end mt-2">
      <button class="btn-lg text-dark ms-3" mat-flat-button>Reset</button>
      <button class="btn-lg ms-3" mat-flat-button color="primary">Invite</button>
    </div>
  </div>
</div>
