// .bg-blue{background-color: #1F47F5;}
// .bg-line1{background-color: #eaa535; height: 2px;}
// .bg-line2{background-color: #1F47F5; height: 2px;}
// .brd-icon2{border: 2px solid #1F47F5; color: #1F47F5; padding: 14px; padding-top: 11px; padding-bottom: 8px; transform: rotate(-90deg); border-radius: 50px;}
// .brd-icon1{border: 2px solid #eaa535; color: #eaa535; padding: 14px; padding-top: 11px; padding-bottom: 8px; transform: rotate(-90deg); border-radius: 50px;}

// .text-blue{color: #1F47F5;}
// .rndd{border-radius: 20px;}


// h2{
//     font-family: 'Manrope';
//     font-style: normal;
//     font-weight: 600;
//     font-size: 18px;
//     line-height: 25px;
//     /* Fill/Dark/Main Dark */
//     color: #25364D;
// }

// p{
//     font-family: 'Manrope';
//     font-style: normal;
//     font-weight: 500;
//     font-size: 15px;
//     line-height: 22px;
//     /* Fill/Dark/Dark 2 */
//     color: #84818A;
// }

// .bg-blue{background-color: #1F47F5;}
// .text-blue{color: #1F47F5;}
// .sml{font-size: 18px;}
// .bg-icon{background: rgba(27, 0, 253, 0.01); padding: 5px; padding-top: 12px; border-radius: 50px; text-align: center;}

// .mt-card{border: 4px solid #fff; box-shadow: 0 2px 3px #EBEAED !important;}
// .mt-card:hover{border: 4px solid #1F47F5 !important;}

// @media screen and (max-width: 992px){
//     .mat-card-header {
//         display: flex;
//         flex-direction: column;
//     }
// }
    
