<mat-drawer-container autosize class="right-drawer" [class.drawer-lg]="viewUserPermission">
  <mat-drawer #drawer mode="over" class="drawer-container" position="end" [autoFocus]="false">
    <button mat-icon-button (click)="drawer.toggle()" class="close-btn">
      <span class="icon-mc mc-x"></span>
    </button>
    <app-user-detail *ngIf="!viewUserPermission" [edit]="currentUserEdit" [userEmail]="currentUser?.email" (statusChange)="changeStatus($event)">
    </app-user-detail>
  </mat-drawer>

  <div class="example-sidenav-content" [@fadeInOut]>
    <tr-page-header>
      <div page-title class="page-title">

        <div>
          <h5 class="mobile-only">{{ln.TXT_PERMISSIONS | translate}}</h5>
          <h2>{{ln.TXT_USER_MANAGEMENT | translate}}</h2>
        </div>

      </div>
      <div page-action>
        <button mat-flat-button color="primary" class="cloud-only" (click)="addUserModal()">
          <i class="add-new-role-btn-icon icon-mc mc-plus"></i>
          {{ln.TXT_ADD_USER | translate}}
        </button>
        <div class="mobile-only">
          <button type="button" mat-icon-button (click)="openBottomSheet()" class="open-bottombtn">
            <span class="icon-mc mc-filter_list"></span>
          </button>
        </div>
      </div>
    </tr-page-header>

    <!-- Desktop view -->
    <div class="user-management">
      <div class="table-header">
        <div class="table-info" *ngIf="selection.selected.length > 0" [matMenuTriggerFor]="menu" class="selected-user">
          {{ selection.selected.length }}
          <span *ngIf="selection.selected.length<=1">
            {{ln.TXT_USER_SELECTED | translate}}
          </span>
          <span *ngIf="selection.selected.length>1">
            {{ln.TXT_USERS_SELECTED | translate}}
          </span>
          <i class="icon-mc mc-more_vert"></i>
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item> <i class="icon-mc mc-how_to_reg"></i> {{ln.TXT_ACTIVATE | translate}}</button>
          <button mat-menu-item> <i class="icon-mc mc-do_not_disturb_on"></i> {{ln.TXT_DEACTIVATE | translate}}</button>
          <button mat-menu-item> <i class="icon-mc mc-user-x"></i> {{ln.TXT_DELETE | translate}}</button>
        </mat-menu>
        <div class="table-info" *ngIf="selection.selected.length == 0">{{ totalUsers }}
          <!-- <div class="table-info">{{ totalUsers }} -->
          <span *ngIf="totalUsers<=1">
            {{ln.TXT_TOTAL_USER | translate}}
          </span>
          <span *ngIf="totalUsers>1">
            {{ln.TXT_TOTAL_USERS | translate}}
          </span>

        </div>
        <div class="table-action cloud-only">
          <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="selectedStatus" placeholder="{{ln.TXT_SELECT_STATUS | translate}}" (ngModelChange)="loadUsers()">
              <mat-option *ngFor="let item of status" [value]="item.value">
                {{item.viewValue | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="selectedRole" placeholder="{{ln.TXT_SELECT_ROLE | translate}}" (ngModelChange)="loadUsers()">
              <mat-option *ngFor="let item of role" [value]="item.roletypeid">
                {{item.name | translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="short-wrapper">
            <span class="sort-by font-600">{{ln.TXT_SORT_BY | translate}}:</span>
            <mat-select [(ngModel)]="selectedSort" (ngModelChange)="onHeaderSort()">
              <mat-option *ngFor="let item of sorts" [value]="item.value">
                <span class="font-500 text-muted">{{ln.TXT_SORT_BY | translate}}:</span> <span class="font-500 text-muted">{{item.viewValue | translate}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>
      <div class="table-container">
        <perfect-scrollbar>
          <table mat-table [dataSource]="dataSource" matSort matSortActive="status" matSortDirection="asc">
            <!-- Position Column -->
            <ng-container matColumnDef="check">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox *ngIf="dataSource" color="primary" (change)="$event ? masterToggle() : null"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let element">
                <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                  (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)"
                  [aria-label]="checkboxLabel(element)"></mat-checkbox>
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> {{ln.TXT_FULL_NAME | translate}} </th>
              <td mat-cell *matCellDef="let element">
                <div class="user-info">
                  <div class="user-img">
                    <img *ngIf="element.img" src="{{element.img}}" alt="">
                    <img *ngIf="!element.img" src="assets/img/user.jpg" alt="">
                    <mat-label class="status user-img-label" [ngClass]="{
                    'success': element.status == 1,
                    'warning': element.status == 2,
                    'danger': element.status == 0
                  }"></mat-label>
                  </div>
                  <div>
                    <div class="name">{{element.firstname + ' ' + element.middlename + ' ' + element.lastname}}</div>
                    <!-- <div class="email">{{element.email}}</div> -->
                  </div>
                </div>
              </td>
            </ng-container>

            <!-- Role Column -->
            <ng-container matColumnDef="roletypeid">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ln.TXT_ROLE | translate}} </th>
              <td mat-cell *matCellDef="let element">
                <mat-label class="role" [ngClass]="{
                  'success': element?.roletypeid === 2,
                  'info': element?.roletypeid === 1,
                  'rm': element?.roletypeid === 4 ,
                  'dm': element?.roletypeid === 5 ,
                  'bm': element?.roletypeid === 6 ,
                  'bl': element?.roletypeid === 7,
                  'vn': element?.roletypeid === 8 ,
                  'nh': element?.roletypeid === 9 ,
                  'hr': element?.roletypeid === 3
            }">{{element.role | translate}} </mat-label>
              </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> {{ln.TXT_EMAIL | translate}} </th>
              <td mat-cell *matCellDef="let element">
                {{element.email}}
              </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ln.TXT_STATUS | translate}} </th>
              <td mat-cell *matCellDef="let element">
                <mat-label class="status m-l-10" [ngClass]="{
                'success': element.status == 1,
                'warning': element.status == 2,
                'danger': element.status == 0
              }">
                  <span *ngIf="element.status == 1 ">{{ln.TXT_ACTIVE | translate}}</span>
                  <span *ngIf="element.status == 2 ">{{ln.TXT_PENDING | translate}}</span>
                  <span *ngIf="element.status == 0 ">{{ln.TXT_DEACTIVE | translate}}</span>
                </mat-label>
              </td>
            </ng-container>

            <!-- Last Updated Column -->
            <ng-container matColumnDef="lastupdated">
              <th mat-header-cell *matHeaderCellDef> {{ln.TXT_LAST_UPDATED | translate}} </th>
              <td mat-cell class="font-500" *matCellDef="let element">
                <span class="mobile-only grey-text"> {{ln.TXT_UPDATED | translate}} :</span>
                {{element.last_updated | date}}
              </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element; let i=index">
                <div class="cloud-only align-right">
                  <button mat-icon-button (click)="editUser(element, $event)"
                    matTooltip="{{ln.TXT_EDIT_USER| translate}}" matTooltipPosition="left">
                    <i class="icon-mc mc-create"></i>
                  </button>
                  <button mat-icon-button *ngIf="element.status==0" (click)="activateUser(element.email)"
                    matTooltip="{{ln.TXT_ACTIVATE_USER | translate}}" matTooltipPosition="left">
                    <i class="icon-mc mc-how_to_reg"></i>
                  </button>
                  <button mat-icon-button *ngIf="element.status>0" [disabled]="element.email==loggedinUserEmail"
                    (click)="deactivateUser(element.email)" matTooltip="{{ln.TXT_DEACTIVATE_USER | translate}}"
                    matTooltipPosition="left">
                    <i class="icon-mc mc-do_not_disturb_on"></i>
                  </button>
                  <!-- <button class="red fs20" mat-icon-button (click)="viewPermission(element)"
                    matTooltip="{{ln.TXT_VIEW_PERMISSION | translate}}" matTooltipPosition="left">
                    <i class="icon-mc mc-preview"></i>
                  </button> -->
                  <button mat-icon-button [matMenuTriggerFor]="tableMenu" (click)="hideUserActionMenu = false">
                    <span class="icon-mc mc-more_vert"></span>
                  </button>
                  <mat-menu #tableMenu="matMenu" backdropClass="profile-dropdown">
                    <div class="user-dropdown-submenu">
                      <button mat-menu-item (click)="viewDetails(element)">
                        <i class="icon-mc mc-visibility"></i> <span>{{ln.TXT_VIEW_DETAILS | translate}}</span>
                      </button>
                      <button mat-menu-item (click)="viewPermission(element)">
                        <i class="icon-mc mc-preview"></i> <span>{{ln.TXT_VIEW_PERMISSION | translate }} </span>
                      </button>
                      <button *ngIf="element.status==0" mat-menu-item (click)="deleteUser(element.email, i)">
                        <i class="icon-mc mc-user-x"></i> <span>{{ln.TXT_DELETE_USER | translate}}</span>
                      </button>
                    </div>
                  </mat-menu>
                </div>
                <div class="mobile-only">
                  <button mat-icon-button [matMenuTriggerFor]="menu" (click)="hideUserActionMenu = false"><span
                      class="icon-mc mc-more_vert"></span></button>
                  <mat-menu #menu="matMenu" backdropClass="profile-dropdown">
                    <div class="user-dropdown-submenu">
                      <button mat-menu-item
                        (click)="viewDetails(element)">
                        <i class="icon-mc mc-visibility"></i> <span>{{ln.TXT_VIEW_DETAILS | translate}}</span>
                      </button>
                      <button mat-menu-item (click)="viewPermission(element)">
                        <i class="icon-mcf mcf-chrome_reader_mode"></i> <span>{{ln.TXT_VIEW_PERMISSION |
                          translate}}</span>
                      </button>
                      <button mat-menu-item
                        (click)="editUser(element)">
                        <i class="icon-mc mc-create"></i> <span>{{ln.TXT_EDIT_USER | translate}}</span>
                      </button>
                      <button mat-menu-item *ngIf="element.status==0" (click)="activateUser(element.email)">
                        <i class="icon-mc mc-how_to_reg"></i> <span>{{ln.TXT_ACTIVATE_USER | translate}}</span>
                      </button>
                      <button mat-menu-item *ngIf="element.status==1 && element.email!=loggedinUserEmail"
                        (click)="deactivateUser(element.email)">
                        <i class="icon-mc mc-do_not_disturb_on"></i> <span>{{ln.TXT_DEACTIVATE_USER | translate}}</span>
                      </button>
                      <button *ngIf="element.status==0" mat-menu-item (click)="deleteUser(element.email, i)">
                        <i class="icon-mc mc-user-x"></i> <span>{{ln.TXT_DELETE_USER | translate}}</span>
                      </button>
                    </div>
                  </mat-menu>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openTblItem(row)"></tr>
          </table>
        </perfect-scrollbar>
      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
    <!-- Mobile View -->
    <div class="floating-button page-action  mobile-only">
      <div class="more-float-action-btn" [class.active]="toggle">
        <button mat-flat-button color="primary" (click)="addUserModal()"><span class="icon-mc  mc-user-plus"></span>
          {{ln.TXT_ADD_USER | translate}}
        </button>
        <button mat-stroked-button color="primary" [matMenuTriggerFor]="menu">{{ln.TXT_EXPORT | translate}} <span
            class="icon-mc mc-expand_more"></span></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>{{ln.TXT_PDF | translate}}</button>
          <button mat-menu-item>{{ln.TXT_EXCEL | translate}}</button>
          <button mat-menu-item>{{ln.TXT_CSV | translate}}</button>
        </mat-menu>
      </div>
      <button mat-fab color="primary" (click)="toggleFab()">
        <span class="icon-mc " [ngClass]="{'mc-plus': toggle === true, 'mc-more_vert': toggle === false }"></span>
      </button>
    </div>
  </div>
</mat-drawer-container>
