@import '~@mucrest/ng-design/assets/styles/0-plugins/plugins-dir';
@import '~@mucrest/ng-design/assets/styles/1-base/variable';

table.mat-table {
    @include media-breakpoint-down(md) {
        display: block;
     }
     ::ng-deep tbody {
        @include media-breakpoint-down(md) {
            display: block;
        }
     }
     .mat-header-cell {
        &:first-of-type {
            padding-left: 0;
         }
        }
    tr.mat-row {
        height: 80px;
        @include media-breakpoint-down(md) {
            height: auto !important;
            border: 1px solid #EBEAED;
            display: flex;
            flex-direction: row;
            width: 100%;
            padding-bottom: 5.5rem;
            margin-bottom: 1rem;
            position: relative;
            border-radius: 4px;
         }
         td.mat-cell {
            &:first-of-type {
                padding-left: 0;
                @include media-breakpoint-down(md) {
                    width: 40px;
                }
             }
             &:last-child {
                padding-right: 0;
             }
            @include media-breakpoint-down(md) {
            vertical-align: top;
            border: 0;
             &:first-of-type {
                padding-left: 10px;
                padding-top: 10px;
             }
             &:nth-child(3) {
                position: absolute;
                left: 10px;
                bottom: 70px;
             }
             &:nth-child(4) {
                position: absolute;
                left: 3px;
                bottom: 30px;
             }
             &:nth-child(5) {
                position: absolute;
                left: 14.2rem;
                top: 1.5rem;
                }
            &:nth-child(6) {
                position: absolute;
                right: 14px;
                bottom: 10px;
            }
            &:last-child {
                padding-right: 0;
                text-align: right;
                width: auto;
                margin-left: auto;
            }
            }
         }
    }
    tr.mat-header-row {
        @include media-breakpoint-down(md) {
            display: none;
         }
    }
    .mat-header-cell {
        font-size: 14px;
        font-weight: 400;
        color: #84818A;
    }
    td, th {
        vertical-align: middle;
        border-color: #EBEAED;
        &:first-child {
            width: 55px;
        }
        &:last-child {
            width: 150px;
        }
    }
    .user-info {
        display: flex;
        align-items: center;
        @include media-breakpoint-down(md) {
            margin-top: .5rem;
        }
        .user-img {
            margin-right: 1rem;
        }
        .name {
            @include rfs(1rem);
        }
        .email {
            margin-top: .3rem;
            color: rgba($color: $black, $alpha: 0.5);
        }
    }

    .table-container{
        padding-left: 0.8rem !important;
        @include media-breakpoint-up(md) {
            padding: none;
        }
    }
}
.user-img-label {
    @include media-breakpoint-up(md) {
        display: none;
    }
    &::before {
        width: 10px;
        height: 10px;
        border-radius: 10px;
        position: absolute;
        left: -15px;
        top: 0px;
        border: 2px solid $white;
    }
}

.add-new-role-btn-icon{
    &::before{
        color: $theme-secondary;
        font-size: 1rem;
    }
}

    .blue{
        color: $primary;
        & i::before{
            color: $primary;
        }
    }
    .green{
        color: $isComplete;
        & i::before{
            color: $isComplete;
        }
    }
    .red{
        color: $theme-secondary;
        & i::before{
            color: $theme-secondary;
        }
    }

.close-btn{
    position: absolute;
    right: 1rem;
    font-size: 1.3rem;
}
.mc-filter_list{
    font-size: 27px;
}

.align-right{
  text-align: right;
}

.selected-user:hover{
    cursor: pointer;
}
