<div class="profile-container">
    <div class="row">
        <div class="col-md-3">
            <div class="left-menu">
                <div class="left-header">
                    <h2>Manage Profile</h2>
                    <p>Update and manage your account</p>
                </div>
                <ul class="profile-link">
                    <li><a routerLink="./manage-profile" routerLinkActive="active"><span class="icon-mc mc-person_pin"></span> <span>Personal Profile</span></a></li>
                    <li><a routerLink="./organisation-profile" routerLinkActive="active"><span class="icon-mc mc-settings_applications"></span> <span>Organisation Profile</span></a></li>
                    <li><a routerLink="./account-security" routerLinkActive="active"><span class="icon-mc mc-lock_outline"></span> <span>Account security</span></a></li>
                    <!-- <li><a href="#"><span class="mc-notifications"></span> <span>Notifications</span></a></li>
                    <li><a href="#"><span class="mc-ic_plan"></span> <span>Plans</span></a></li>
                    <li><a href="#"><span class="mc-help"></span> <span>Helpdesk</span></a></li> -->
                </ul>
            </div>
        </div>
        <div class="col-md-7">           
            <router-outlet></router-outlet>
        </div>
    </div>
</div>