@import '~@mucrest/ng-design/assets/styles/0-plugins/plugins-dir';
@import '~@mucrest/ng-design/assets/styles/1-base/variable';

.account-role {
table.mat-table {
    @include media-breakpoint-down(md) {       
        display: block;       
    }
    ::ng-deep tbody {
        @include media-breakpoint-down(md) {
        display: block;
       }
    }
    tr.mat-header-row {
        @include media-breakpoint-down(md) {
            display: none;
         }
    }
    tr.mat-row {
        height: 80px;
        @include media-breakpoint-down(md) {
            height: auto !important;
            border: 1px solid #EBEAED;
            display: flex;
            flex-direction: row;
            width: 100%;
            padding-bottom: 7rem;
            margin-bottom: 1rem;
            position: relative;
            border-radius: 4px;
        }
    }
    .mat-header-cell {
        font-size: 0.875rem;
        font-weight: 600;
        color: #84818A;
        padding-left: 0;
    }
    td, th {
        vertical-align: middle;
        border-color: #EBEAED;        
        &:last-child {
            width: 150px;
        }
    }
    td.mat-cell {
         &:first-of-type {
             padding-left: 0;
         }
         &:last-child {
             padding-right: 0;
         }
    }
    @include media-breakpoint-down(md) {
    td.mat-cell {
        vertical-align: top;
        border: 0;
         &:first-of-type {
            padding: 0px;
            position: absolute;
            bottom: 10px;
            width: calc(100% - 20px);
            right: 10px;
         }
         &:nth-child(2) {
             position: absolute;
             left: 10px;
             top: 1rem;
         }
         &:nth-child(3) {
             position: absolute;
             left: 10px;
             top: 2.5rem;
         }
         &:nth-child(4) {
            position: absolute;
            left: 20px;
            top: 5px;
         }
        &:last-child {
            position: absolute;
            right: 5px;
            top: 5px;
            width: auto;
            padding: 0;
        }
     }
    }

}
}
.right-btn {
    position: absolute;
    right: 0;
}
.close-btn {
    position: absolute;
    top: 4rem;
    z-index: 9;
    right: 1rem;
}

.add-new-role-btn-icon{
    &::before{
        color: $white;
        font-size: 1.2rem;
    }
}
.close-btn{
    position: absolute;
    right: 1rem;
    font-size: 1.3rem;
}
.text-right {
    text-align: right;
}

.actions{
    .icon-mc,.icon-mcf{
        font-size: 1.3rem !important;
        font-weight: 500 !important;
    }
    .user-dropdown-submenu{
       button .icon-mc,.icon-mcf{
            font-size: 1.3rem !important;
            font-weight: 500 !important;
        }
        font-size: 00.875rem;
        font-weight: 400;
    }
}
.open-bottombtn {
    .icon-mc {
        font-size: 27px;
    }
}
::ng-deep .page-header {
    @include media-breakpoint-down(md) {
        padding-right: 20px;
    }
}
// .user-dropdown-submenu {
//     ::ng-deep {
//         .mat-menu-item[disabled] {
//             cursor:not-allowed !important;
//         }
//     }
// }