
<tr-page-header>
  <div page-title>
   <h2>Settings</h2>
 </div>
</tr-page-header>
    <div class="dashboard-container" [@fadeInOut]>
        <tr-brief-newline-card class="dashboard-card" [routerLink]="routerConfig.PERMISSION">
          <i mc-card-logo class="icon-mc mc-grading"></i>          
          <p mc-card-title class="h-fnts">{{ln.TXT_PERMISSIONS | translate}}</p>
          <p mc-card-subtitle class="p-fnts">Manage the level of access of your users
            access of your users access of your
          </p>
        </tr-brief-newline-card>
      
        <tr-brief-newline-card class="dashboard-card">
          <i mc-card-logo class="icon-mcf mcf-book"></i>
          <p mc-card-title class="h-fnts">{{ln.TXT_TEMPLATE | translate}}</p>
          <p mc-card-subtitle class="p-fnts">Set up and manage templates for all company users.h</p>
        </tr-brief-newline-card>
     
        <tr-brief-newline-card class="dashboard-card">
          <i mc-card-logo class="icon-mcf mcf-visibility"></i>
          <p mc-card-title class="h-fnts">{{ln.TXT_FORM_VISIBILITY_SETTING | translate}}</p>
          <p mc-card-subtitle class="p-fnts">Customize hiring workflow and tools with advanced features.</p>
        </tr-brief-newline-card>
      
        <tr-brief-newline-card class="dashboard-card">
          <i mc-card-logo class="icon-mcf mcf-add_task"></i>
          <p mc-card-title class="h-fnts">{{ln.TXT_INTEGRATION | translate}}</p>
          <p mc-card-subtitle class="p-fnts">Edit personal info and set communication preferences.</p>
        </tr-brief-newline-card>
      
        <tr-brief-newline-card class="dashboard-card">
          <i mc-card-logo class="icon-mcf mcf-settings "></i>
          <p mc-card-title class="h-fnts">{{ln.TXT_CONFIGURATION | translate}}</p>
          <p mc-card-subtitle class="p-fnts">Manage job advertising across the entire organization.</p>
        </tr-brief-newline-card>
     
        <tr-brief-newline-card class="dashboard-card">
          <i mc-card-logo class="icon-mc mc-monetization_on"></i>
          <p mc-card-title class="h-fnts">{{ln.TXT_BILLING | translate}}</p>
          <p mc-card-subtitle class="p-fnts">See purchases history and set up payment details.</p>
        </tr-brief-newline-card>
      
       <tr-brief-newline-card class="dashboard-card">
          <i mc-card-logo class="icon-mcf mcf-account_circle"></i>
          <p mc-card-title class="h-fnts">{{ln.TXT_CANDIDATE_PORTAL | translate}}</p>
          <p mc-card-subtitle class="p-fnts">Edit company info, manage roles, and support contracts.</p>
        </tr-brief-newline-card>
      
       <tr-brief-newline-card class="dashboard-card">
          <i mc-card-logo class="icon-mc mc-thumbs_up_down"></i>
          <p mc-card-title class="h-fnts">{{ln.TXT_VENDOR_PORTAL | translate}}</p>
          <p mc-card-subtitle class="p-fnts">Edit company info, manage roles, and support contracts.</p>
        </tr-brief-newline-card>
      
       <tr-brief-newline-card class="dashboard-card">
          <i mc-card-logo class="icon-mcf mcf-card_travel"></i>
          <p mc-card-title class="h-fnts">{{ln.TXT_EMPLOYEE_PORTAL | translate}}</p>
          <p mc-card-subtitle class="p-fnts">Edit personal info and set communication preferences.</p>
        </tr-brief-newline-card>
      
       <tr-brief-newline-card class="dashboard-card">
          <i mc-card-logo class="icon-mcf mcf-file_present"></i>
          <p mc-card-title class="h-fnts">{{ln.TXT_CAREER_PAGE_BUILDER | translate}}</p>
          <p mc-card-subtitle class="p-fnts">See purchases history and set up payment details.</p>
        </tr-brief-newline-card>
      
       <tr-brief-newline-card class="dashboard-card">
          <i mc-card-logo class="icon-mc mc-corporate_fare"></i>
          <p mc-card-title class="h-fnts">{{ln.TXT_GDPR | translate}}</p>
          <p mc-card-subtitle class="p-fnts">Edit company info, manage roles, and support contracts.</p>
        </tr-brief-newline-card>     
    </div>
 
