
  <div class="page-header">
    <div class="page-title">
      <h2>Settings</h2>
    </div>
  </div>
    <div class="dashboard-container">
        <tr-brief-newline-card class="dashboard-card" routerLink="./permission">
          <i mc-card-logo class="icon-mc mc-grading"></i>
          <span mc-card-title class="h-fnts">Permission</span>
          <span mc-card-subtitle class="p-fnts">Manage the level of access of your users
            access of your users access of your users
            access of your users
          </span>
        </tr-brief-newline-card>
      
        <tr-brief-newline-card class="dashboard-card">
          <i mc-card-logo class="icon-mcf mcf-book"></i>
          <span mc-card-title class="h-fnts">Template</span>
          <span mc-card-subtitle class="p-fnts">Set up and manage templates for all company users.h</span>
        </tr-brief-newline-card>
     
        <tr-brief-newline-card class="dashboard-card">
          <i mc-card-logo class="icon-mcf mcf-visibility"></i>
          <span mc-card-title class="h-fnts">Form Visibility Setting</span>
          <span mc-card-subtitle class="p-fnts">Customize hiring workflow and tools with advanced features.</span>
        </tr-brief-newline-card>
      
        <tr-brief-newline-card class="dashboard-card">
          <i mc-card-logo class="icon-mcf mcf-add_task"></i>
          <span mc-card-title class="h-fnts">Intregration</span>
          <span mc-card-subtitle class="p-fnts">Edit personal info and set communication preferences.</span>
        </tr-brief-newline-card>
      
        <tr-brief-newline-card class="dashboard-card">
          <i mc-card-logo class="icon-mcf mcf-settings "></i>
          <span mc-card-title class="h-fnts">Configuration</span>
          <span mc-card-subtitle class="p-fnts">Manage job advertising across the entire organization.</span>
        </tr-brief-newline-card>
     
        <tr-brief-newline-card class="dashboard-card">
          <i mc-card-logo class="icon-mc mc-monetization_on"></i>
          <span mc-card-title class="h-fnts">Billing</span>
          <span mc-card-subtitle class="p-fnts">See purchases history and set up payment details.</span>
        </tr-brief-newline-card>
      
       <tr-brief-newline-card class="dashboard-card">
          <i mc-card-logo class="icon-mcf mcf-account_circle"></i>
          <span mc-card-title class="h-fnts">Candidate Portal</span>
          <span mc-card-subtitle class="p-fnts">Edit company info, manage roles, and support contracts.</span>
        </tr-brief-newline-card>
      
       <tr-brief-newline-card class="dashboard-card">
          <i mc-card-logo class="icon-mc mc-thumbs_up_down"></i>
          <span mc-card-title class="h-fnts">Vendor Portal</span>
          <span mc-card-subtitle class="p-fnts">Edit company info, manage roles, and support contracts.</span>
        </tr-brief-newline-card>
      
       <tr-brief-newline-card class="dashboard-card">
          <i mc-card-logo class="icon-mcf mcf-card_travel"></i>
          <span mc-card-title class="h-fnts">Employee Portal</span>
          <span mc-card-subtitle class="p-fnts">Edit personal info and set communication preferences.</span>
        </tr-brief-newline-card>
      
       <tr-brief-newline-card class="dashboard-card">
          <i mc-card-logo class="icon-mcf mcf-file_present"></i>
          <span mc-card-title class="h-fnts">Career Page Builder</span>
          <span mc-card-subtitle class="p-fnts">See purchases history and set up payment details.</span>
        </tr-brief-newline-card>
      
       <tr-brief-newline-card class="dashboard-card">
          <i mc-card-logo class="icon-mc mc-corporate_fare"></i>
          <span mc-card-title class="h-fnts">GDPR</span>
          <span mc-card-subtitle class="p-fnts">Edit company info, manage roles, and support contracts.</span>
        </tr-brief-newline-card>
     
    </div>
 
