
h2{
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #25364D;
}

.fxd{
    // width: 248.5px;
    height: 162px;
    border: 1px solid #EBEAED;
    border-radius: 4px;
}

.scrl{
    height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
}