@import '~@mucrest/ng-design/assets/styles/0-plugins/plugins-dir.scss';
@import '~@mucrest/ng-design/assets/styles/1-base/variable';

.dashboard-container {
  width: 100%;
  height: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  padding-bottom: 5rem;
  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (min-width: 481px) and (max-width: 666px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 667px) and (max-width: 767px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media-breakpoint-between(md, xl) { 
    grid-template-columns: repeat(3, 1fr);
   }
  .dashboard-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    ::ng-deep mc-brief-card {
      height: 100%;
      ::ng-deep .mc-card {
        height: 100%;
        &:hover {
          border-color: $theme;
        }
      }
  }
  }
  i {
    // background-color: $theme-secondary;
    // padding: .4rem;
    // border-radius: 50%;
    &::before {
      color: $theme;
    }
  }

  tr-brief-newline-card{
    cursor: pointer;
    i{
      font-size: $fs-md !important;
    }

  }

  .h-fnts{
    font-size: $fs-default;
    @include margin-top(1rem !important) ;
  }
  .p-fnts{
    font-size: $fs-default;
  }
 
}
