<div class="organisation-info" [formGroup]="orgProfileForm" [@fadeInOut]>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="standard">
        <mat-label>{{ln.TXT_COMPANY_NAME | translate}}</mat-label>
        <input matInput formControlName="name">
        <mat-error *ngIf="name.invalid && name.touched">
          <span *ngIf="name.errors?.required">{{ln.TXT_FIELD_REQUIRED | translate}}</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="standard">
        <mat-label>{{ln.TXT_SHORT_NAME | translate}}</mat-label>
        <input matInput formControlName="shortname" (keyup)='checkValidity()'>
        <mat-error *ngIf="shortname.invalid && shortname.touched">
          <span *ngIf="shortname.errors?.maxlength">{{ln.TXT_SHORT_NAME_MAX15 | translate}}</span>
          <span *ngIf="shortname.errors?.minlength">{{ln.TXT_SHORT_NAME_MIN5 | translate}}</span>
        </mat-error>
        <mat-error *ngIf="shortname.hasError('customError')">
          {{ resShortMessage | translate }}
        </mat-error>
        <mat-hint class="green" *ngIf="resShortMessage">{{ resShortMessage | translate}}</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="standard">
        <mat-label>{{ln.TXT_COUNTRY | translate}}</mat-label>
        <mat-select disableOptionCentering formControlName="countryid">
          <!-- TODO: needs to remove the inline css -->
          <perfect-scrollbar style="height: 250px">
            <ng-container *ngFor="let each of countries; let last = last">
              <mat-option [value]="each?.iso2">{{each?.name}}</mat-option>
              <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
          </perfect-scrollbar>
        </mat-select>
        <mat-error *ngIf="countryid.invalid && countryid.touched">
          <span *ngIf="countryid.errors?.required">{{ln.TXT_FIELD_REQUIRED | translate}}</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="standard">
        <mat-label>{{ln.TXT_COMPANY_URL | translate}}</mat-label>
        <input matInput formControlName="domain">
        <!-- <mat-error *ngIf="domain.invalid && domain.touched">
          <span *ngIf="domain.errors?.required">This filed is required.</span>
        </mat-error> -->
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="standard">
        <mat-label>{{ln.TXT_STATE | translate}}</mat-label>
        <mat-select disableOptionCentering formControlName="stateid">
          <!-- TODO: needs to remove the inline css -->
          <perfect-scrollbar style="height: 250px">
            <ng-container *ngFor="let each of states; let last = last">
              <mat-option [value]="each?.stateCode">{{each?.name}}</mat-option>
              <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
          </perfect-scrollbar>
        </mat-select>
        <mat-error *ngIf="stateid.invalid && stateid.touched">
          <span *ngIf="stateid.errors?.required">{{ln.TXT_FIELD_REQUIRED | translate}}</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field appearance="standard">
        <mat-label>{{ln.TXT_CITY | translate}}</mat-label>
        <mat-select disableOptionCentering formControlName="cityid">
          <!-- TODO: needs to remove the inline css -->
          <perfect-scrollbar style="height: 250px">
            <ng-container *ngFor="let each of cities; let last = last">
              <mat-option [value]="each?.id">{{each?.name}}</mat-option>
              <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
          </perfect-scrollbar>
        </mat-select>
        <mat-error *ngIf="cityid.invalid && cityid.touched">
          <span *ngIf="cityid.errors?.required">{{ln.TXT_FIELD_REQUIRED | translate}}</span>
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="standard">
        <mat-label>{{ln.TXT_INDUSTRY | translate}}</mat-label>
        <mat-select disableOptionCentering formControlName="industryid">
          <!-- TODO: needs to remove the inline css -->
          <perfect-scrollbar style="height: 250px">
            <ng-container *ngFor="let each of industries; let last = last">
              <mat-option [value]="each?.code">{{each?.name}}</mat-option>
              <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
          </perfect-scrollbar>
        </mat-select>
        <mat-error *ngIf="name.invalid && name.touched">
          <span *ngIf="name.errors?.required">{{ln.TXT_FIELD_REQUIRED | translate}}</span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-mg-6"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="account-type">
        <p>{{ln.TXT_ACCOUNT_TYPE | translate}}</p>
        <mat-radio-group aria-label="Select an option" formControlName="accounttype">
          <mat-radio-button [value]="'TXT_ACT_STAFF'" color="primary">{{ln.TXT_STAF_REC | translate}}</mat-radio-button>
          <mat-radio-button [value]="'TXT_ACT_CORP'" color="primary" class="mx-3 mt-3">
            {{ln.TXT_CORPORATE | translate}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <div class="profile-action">
    <button mat-stroked-button (click)="resetHandler()">{{ln.TXT_RESET | translate}}</button>
    <button mat-flat-button color="primary" (click)="saveOrgProfile()" [disabled]="isLoading">
      <span>{{ln.TXT_SAVE_CHANGES | translate}}</span>
      <mat-spinner diameter="20" *ngIf="isLoading" class="btn-loader"></mat-spinner>
    </button>
  </div>