
            <div class="profile-info">
                    <div class="profile-form">
                        <div>
                            <mat-form-field appearance="standard">
                                <mat-label>Full Name</mat-label>
                                <input matInput placeholder="Placeholder" value="Maxbert Scolaski">
                              </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field appearance="standard">
                                <mat-label>Phone No</mat-label>
                                <input matInput placeholder="">
                              </mat-form-field>
                        </div>
                    </div>
                        <div class="profile-image">
                            <div class="img-container">
                                <img src="{{url ? url : './assets/img/profile.png'}}" alt="">
                            </div>
                            <div class="img-action">
                                <input #fileInput type='file' (change)="onSelectFile($event)" style="display: none">
                                <button mat-stroked-button color="primary" (click)="fileInput.click()">Upload new picture</button>
                                <button mat-button *ngIf="url" (click)="delete()">Remove picture</button>
                            </div>
                        </div>
            </div>
            <div class="profile-action">
                <button mat-stroked-button>Cancel</button>
                <button mat-flat-button color="primary">Save Changes</button>
            </div>