/* You can add global styles to this file, and also import other style files */
$header-height: 3.5rem;

@import '~@mucrest/ng-design/assets/theme';

@import 'assets/styles/style.scss';

$font-family : 'Manrope', sans-serif;
html, body { height: 100%; }
body { 
  margin: 0;
  font-family: $font-family;
}

// ::ng-deep .mc-card-body{
//   margin-top: 0 !important;
// }
// ::ng-deep .mc-card-action{
//   margin-top: 0 !important;
// }

// ::ng-deep .mc-card-footer{
//   margin-top: 0 !important;
// }
