/* You can add global styles to this file, and also import other style files */
@import '~@mucrest/ng-design/assets/theme';

@import 'assets/styles/style.scss';

$font-family : 'Manrope', sans-serif;
html, body { height: 100%; }
body { 
  margin: 0;
  font-family: $font-family;
}
