@import '~@mucrest/ng-design/assets/styles/1-base/base-dir';
@import '~@mucrest/ng-design/assets/styles/0-plugins/plugins-dir.scss';

    .mat-drawer.mat-drawer-side {
        border-right: #EBEAED 1px solid;
    }
    .mat-drawer-container, ::ng-deep .mat-drawer-content {
        height: 100%;
        overflow: inherit;
        .sidenav-content {
            padding: 2rem 2rem 0;
            height: 100%;
            position: relative;           
            background: white;
            @include media-breakpoint-down(md) {
                padding: 0 1rem;
                height: auto;
             }
        }
    }
  

    .sidenav{
        overflow: hidden !important;
        .togglebtn {
            transform: rotate(180deg);
        }  
    }

.togglebtn {
    position: fixed;
    left: 45px;
    top: 60px;
    font-size: 1.5rem;
    z-index: 9999;
    border: #EBEAED 1px solid;
    background: $white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 16px;
    ::ng-deep .mat-button-wrapper>* {
        vertical-align: top;
    }
    @include media-breakpoint-down(md) {
        display: none;
     }
}
.move-sidena-button{
    left: calc(250px + 50px) ;
    transition: left 0.8s ease-out;
}
.mobile-togglebtn {
    position: absolute;
    right: 6px;
    top: 10px;
    font-size: 20px;
    @include media-breakpoint-up(md) { 
        display: none;
     }
}