<mat-drawer-container autosize>
  <mat-drawer #drawer [mode]="drawerMode">
    <app-settings-side-menu></app-settings-side-menu>
  </mat-drawer>
  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
<button
  *ngIf="currentUrlPath !== routerConfig.SETTINGS_DASHBOARD"
  type="button"
  mat-icon-button
  (click)="drawer.toggle()"
  class="togglebtn"
>
  <span
    class="icon-mc"
    [ngClass]="
      drawer.opened ? 'mc-keyboard_arrow_left' : 'mc-keyboard_arrow_right'
    "
  ></span>
</button>

<div *ngIf="currentUrlPath === routerConfig.SETTINGS_DASHBOARD"> {{ drawer.close() }} </div>
