@import '~@mucrest/ng-design/assets/styles/1-base/base-dir';
@import '~@mucrest/ng-design/assets/styles/0-plugins/plugins-dir.scss';

.content-wrapper {
    margin-left: $sidenav-width;
    height: 100%;
    margin-top: $header-height;
    position: fixed;
    width: calc(100% - 4.375rem);
    @include media-breakpoint-down(md) {
        margin-left: 0;
        width: 100%;
     }
    .mat-drawer.mat-drawer-side {
        border-right: #EBEAED 1px solid;
    }
    .mat-drawer-container, ::ng-deep .mat-drawer-content {
        height: 100%;
        .sidenav-content {
            padding: 0 2rem;
            height: 100%;
            position: relative;           
            background: white;
            @include media-breakpoint-down(md) {
                padding: 0 1rem;
                height: auto;
             }
        }
    }
    ::ng-deep .mat-drawer-opened ~ .mat-drawer-content {
        .togglebtn {
            transform: rotate(180deg);
        }    
    }

    .sidenav{
        overflow: hidden !important;
    }
}
.togglebtn {
    // position: fixed;
    // left: 40px;
    // top: 47px;
    // font-size: 1.5rem;
    // z-index: 9999;
    // border: #EBEAED 1px solid;
    // background: #fff;
    // width: 34px;
    // height: 34px;
    // line-height: 34px;
    position: fixed;
    left: 50px;
    top: 78px;
    font-size: 1.5rem;
    z-index: 9999;
    border: #EBEAED 1px solid;
    background: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;

    ::ng-deep .mat-button-wrapper>* {
        vertical-align: top;
    }
    @include media-breakpoint-down(md) {
        display: none;
     }
}
.move-sidena-button{
    left: calc(250px + 50px) ;
    transition: left 0.8s ease-out;
}
.mobile-togglebtn {
    position: absolute;
    right: 6px;
    top: 10px;
    font-size: 20px;
    @include media-breakpoint-up(md) { 
        display: none;
     }
}