<div class="select-role p-4">
  <mc-stepper [stepNames]="stepperPages" [currentStep]="currentStep" class="mx-auto mt-3"></mc-stepper>
  <h2>Select your role</h2>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, aperiam ea at cumque culpa ab veritatis
    temporibus ratione labore, molestiae illum fugiat, deleniti sit aliquam eum consequuntur necessitatibus numquam
    ullam.
  </p>
  <tr-brief-card>
    <div mc-avatar></div>
    <h2 title>Corporate</h2>
    <p subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo provident obcaecati dolorum explicabo
      laborum modi amet quam, fuga laboriosam nemo illum! Neque, omnis! Commodi sapiente enim, incidunt quam voluptate
      cumque.</p>
  </tr-brief-card>
  <tr-brief-card>
    <h2 title>Stafing & Recruting</h2>
    <p subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo provident obcaecati dolorum explicabo
      laborum modi amet quam, fuga laboriosam nemo illum! Neque, omnis! Commodi sapiente enim, incidunt quam voluptate
      cumque.</p>
  </tr-brief-card>

</div>
