@import "~@mucrest/ng-design/assets/styles/1-base/base-dir";

@import "~@mucrest/ng-design/assets/styles/0-plugins/plugins-dir.scss";

.select-role {
  background: $white;
  // padding: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 460px;
  max-width: 786px;
  width: 786px;
  ::ng-deep .stepper .stepper-label {
    color: black;
  }
  @include media-breakpoint-down(md) {
    background-color: transparent;
    width: 100%;
  }
  @include media-breakpoint-down(md) {
    ::ng-deep .stepper .stepper-label {
      font-size: smaller;
    }
  }
.role-container {
  padding: 3rem 3rem 0;
  @include media-breakpoint-down(md) {
    padding: 0
  }
}
  h2 {
    @include font-size($fs-lg);
    line-height: 2.5rem;
    font-weight: 400;
    color: $title;
    margin-bottom: .6rem;
  }

  p {
    color: $title;
    margin-bottom: 2rem;
    line-height: normal;
    @include font-size(0.9rem);
    @include media-breakpoint-down(md) {
      order: 2;
    }
  }
}
