<div class="select-role mt-5" [@fadeInOut]>
  <!-- <mc-stepper [stepNames]="stepperPages" [currentStep]="currentStep" class="mx-auto"></mc-stepper> -->
  <div class="role-container">
    <h2>Select your orgination type</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, aperiam ea at cumque culpa ab veritatis
      temporibus ratione labore, molestiae illum fugiat, deleniti sit aliquam eum consequuntur necessitatibus numquam
      ullam.
    </p>
    <div>
      <tr-brief-card (click)="roleHandler(1)">
        <i mc-card-logo class="icon-mc mc-location_city color-main-red"></i>
        <span mc-card-title class="color-main-red">Corporate</span>
        <span mc-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
      </tr-brief-card>
      <tr-brief-card  (click)="roleHandler(2)">
        <i mc-card-logo class="icon-mc mc-group color-main-purple"></i>
        <span mc-card-title class="color-main-purple">Staffing & Recruting</span>
        <span mc-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. </span>
      </tr-brief-card>
    </div>
  </div>
</div>