<div class="select-role select-role p-4">
  <mc-stepper [stepNames]="stepperPages" [currentStep]="currentStep" class="mx-auto mt-3"></mc-stepper>
  <div class="container py-4">
    <h2>Select your role</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, aperiam ea at cumque culpa ab veritatis
      temporibus ratione labore, molestiae illum fugiat, deleniti sit aliquam eum consequuntur necessitatibus numquam
      ullam.
    </p>
    <div class="py-5">
      <tr-brief-card class="m-1">
        <i mc-card-logo class="mc-group"></i>
        <span mc-card-title>Corporate</span>
        <span mc-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo provident obcaecati dolorum
          explicabo
          laborum modi amet quam, fuga laboriosam nemo illum! Neque, omnis! Commodi sapiente enim, incidunt quam
          voluptate
          cumque.</span>
      </tr-brief-card>
      <tr-brief-card class="m-1">
        <i mc-card-logo class="mc-group"></i>
        <span mc-card-title>Stafing & Recruting</span>
        <span mc-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo provident obcaecati dolorum
          explicabo
          laborum modi amet quam, fuga laboriosam nemo illum! Neque, omnis! Commodi sapiente enim, incidunt quam
          voluptate
          cumque.</span>
      </tr-brief-card>
    </div>
  </div>


</div>
