<div class="user-management">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef> <mat-checkbox color="primary"></mat-checkbox></th>
        <td mat-cell *matCellDef="let element"> <mat-checkbox color="primary"></mat-checkbox> </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Full Name </th>
        <td mat-cell *matCellDef="let element"> 
          <div class="user-info">
            <div class="user-img">
              <img src="{{element.img}}" alt="">
            </div>
            <div>
              <div>{{element.name}}</div>
              <div>{{element.email}}</div>
            </div>
          </div>          
           </td>
      </ng-container>
  
      <!-- Role Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element"> 
          <mat-label class="role" [ngClass]="{
          'success': element.role === 'Admin',
          'info': element.role === 'Super Admin'
        }">{{element.role}} </mat-label> </td>
      </ng-container>
  
      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element"> <span class="mobile-only grey-text">User Name :</span> {{element.username}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">
          <mat-label class="status" [ngClass]="{
            'success': element.status === 'Active',
            'warning': element.status === 'Inactive',
            'danger': element.status === 'Deactivated'
          }">{{element.status}} </mat-label>
          </td>
      </ng-container>

      <!-- Last Updated Column -->
      <ng-container matColumnDef="lastupdated">
        <th mat-header-cell *matHeaderCellDef> Last Updated </th>
        <td mat-cell *matCellDef="let element"> <span class="mobile-only grey-text">Last Updated :</span> {{element.lastupdated}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element">         
        <div class="cloud-only">
        <button mat-icon-button>
          <span class="icon-edit"></span>
        </button>  
        <button mat-icon-button>
          <span class="icon-delete"></span>
        </button>  
        <button mat-icon-button>
          <span class="icon-more"></span>
        </button> 
      </div>
      <div class="mobile-only">
        <button mat-icon-button [matMenuTriggerFor]="menu"><span class="icon-more"></span></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item><span class="icon-edit"></span> Edit</button>
          <button mat-menu-item><span class="icon-delete"></span> Delete</button>
        </mat-menu>
      </div>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  