<div class="r-password" [@fadeInOut]>
  <div>
    <div class="d-flex m-bottom cursor" [routerLink]="'./auth/login'"><span class="icon-mc mc-keyboard_arrow_left fnt"></span><span
      class="align-self-center">Back To Login</span>
    </div>
    <h2 class="text-dark">Reset Your Password</h2>
    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <form [formGroup]="resetForm">
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input placeholder="xyz" matInput [type]="hide ? 'password' : 'text'" formControlName='password'>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
      </button>
      <mat-error *ngIf="password.touched && !password.valid">
        <span *ngIf="password.errors?.required">
          Password is required
        </span>
        <span *ngIf="!password.errors?.required && password.errors?.minlength">
          Password should be atleast 6 letters
        </span>
        <span *ngIf="password.errors?.maxlength">
          Password should be maximum of 12 letters
        </span>
      </mat-error>
      <!--<mat-icon class="text-muted h5">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100 brd">
      <mat-label>Confirm Password</mat-label>
      <input placeholder="xyz" matInput [type]="hide ? 'password' : 'text'" formControlName='cnfPass'>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
      </button>
      <!-- <mat-icon class="text-muted h5">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
      <mat-error *ngIf="(cnfPass.touched && !cnfPass.valid)">
        <span *ngIf="cnfPass.errors?.required">
          Retype your password
        </span>
        <span *ngIf="cnfPass.errors?.passMatch">
          Confirm password does not match
        </span>
      </mat-error>
    </mat-form-field>
    <div class="d-flex justify-content-end register-action">
      <button mat-flat-button color="primary" (click)="resetPassword()" [disabled]="isLoading">
        <span>Reset Password</span>
        <mat-spinner *ngIf="isLoading" diameter="20" class="btn-loader"></mat-spinner> 
      </button>
    </div>
  </form>
</div>
