<div class="r-password">
    <div>
        <h2 class="text-dark">Reset Your Password</h2>
        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <form>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input placeholder="xyz" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
            </button>
            <!--<mat-icon class="text-muted h5">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100 brd">
              <mat-label>Confirm Password</mat-label>
              <input placeholder="xyz" matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
              </button><!-- <mat-icon class="text-muted h5">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->
        </mat-form-field>
        <div class="d-flex justify-content-end register-action">
          <button mat-flat-button color="primary">Reset Password</button>
        </div>
      </form>
  </div>
  