<div class="r-password" [@fadeInOut]>
  <div>
    <div *ngIf="!type" class="d-flex m-bottom cursor" [routerLink]="routerConfig.LOGIN"><span
        class="icon-mc mc-keyboard_arrow_left fnt"></span><span class="align-self-center">Back To Login</span>
    </div>
    <h2 *ngIf="type" class="text-dark">Set Your Password</h2>
    <h2 *ngIf="!type" class="text-dark">Reset Your Password</h2>
    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
  <form [formGroup]="resetForm">
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput [type]="hidepassword ? 'password' : 'text'" formControlName='password'>
      <button mat-icon-button matSuffix (click)="hidepassword = !hidepassword" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidepassword" class="btn-show-hide">
        <span class="icon-mc" ngClass="{{hidepassword ? 'mc-eye-off' : 'mc-eye'}}"></span>
      </button>
      <mat-error *ngIf="password.touched && !password.valid">
        <span *ngIf="password.errors?.required">
          Password is required
        </span>
        <span *ngIf="!password.errors?.required && password.errors?.minlength">
          Password should be atleast 6 letters
        </span>
        <span *ngIf="password.errors?.maxlength">
          Password should be maximum of 12 letters
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="w-100 brd">
      <mat-label>Confirm Password</mat-label>
      <input matInput [type]="hidecnfpass ? 'password' : 'text'" formControlName='cnfPass'>
      <button mat-icon-button matSuffix (click)="hidecnfpass = !hidecnfpass" [attr.aria-label]="'Hide cnf password'"
        [attr.aria-pressed]="hidecnfpass" class="btn-show-hide">
        <span class="icon-mc" ngClass="{{hidecnfpass ? 'mc-eye-off' : 'mc-eye'}}"></span>
      </button>
      <mat-error *ngIf="cnfPass.touched && !cnfPass.valid">
        <span *ngIf="cnfPass.errors?.required">
          Retype your password
        </span>
        <span *ngIf="cnfPass.errors?.passMatch">
          Confirm password does not match
        </span>
      </mat-error>
    </mat-form-field>
    <div class="d-flex justify-content-end register-action">
      <button mat-flat-button color="primary" (click)="resetPassword()" [disabled]="isLoading">
        <span *ngIf="!type">Reset Password</span>
        <span *ngIf="type">Set Password</span>
        <mat-spinner *ngIf="isLoading" diameter="20" class="btn-loader"></mat-spinner>
      </button>
    </div>
  </form>
</div>
